# e-Statからダウンロードしたデータから演習用csvを出力する
- ラベル名を日本語から英語にするついでに， yyyymm形式のカラムもつける

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("FEH_00200561_200619194455.csv", encoding='cp932', skiprows=11)
df

,表章項目 コード,表章項目,世帯区分 コード,世帯区分,地域区分 コード,地域区分,時間軸（月次） コード,時間軸（月次）,/品目分類（2020年改定）,1.1.1 米【円】,...,343 カステラ【円】,344 ケーキ【円】,347 ゼリー【円】,348 プリン【円】,350 せんべい【円】,346 ビスケット【円】,357 スナック菓子【円】,349 キャンデー【円】,352 チョコレート【円】,356 アイスクリーム・シャーベット【円】
0,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000101,2010年1月,NaN,1815,...,82,610,56,125,449,229,320,205,456,362
1,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000202,2010年2月,NaN,1980,...,63,545,69,123,411,239,317,191,1122,305
2,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000303,2010年3月,NaN,2248,...,86,657,98,138,509,396,364,214,409,383
3,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000404,2010年4月,NaN,2259,...,81,522,127,132,466,261,358,199,287,464
4,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000505,2010年5月,NaN,2282,...,90,551,182,139,446,271,360,195,233,752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1,金額,3,二人以上の世帯（2000年～）,0,全国,2019000808,2019年8月,NaN,1756,...,72,429,424,139,539,379,420,161,278,1513
116,1,金額,3,二人以上の世帯（2000年～）,0,全国,2019000909,2019年9月,NaN,2335,...,56,489,173,122,424,323,385,157,374,996
117,1,金額,3,二人以上の世帯（2000年～）,0,全国,2019001010,2019年10月,NaN,2944,...,58,508,114,130,434,307,397,190,478,724
118,1,金額,3,二人以上の世帯（2000年～）,0,全国,2019001111,2019年11月,NaN,1966,...,66,588,99,125,470,333,407,220,551,531
119,1,金額,3,二人以上の世帯（2000年～）,0,全国,2019001212,2019年12月,NaN,2042,...,99,1344,105,134,711,446,464,222,677,584

In [3]:
labels = pd.read_excel("label_info.xlsx", index_col=0)
labels.head()

                 English
Japanese
1.1.1 米【円】          rice
1.1.2 パン【円】        bread
1.1.3 麺類【円】       noodle
1.2.1 生鮮魚介【円】   fish_faw
1.2.2 塩干魚介【円】  fish_salt

In [4]:
df_conv = df.rename(columns=labels.to_dict()["English"]).rename(columns={"時間軸（月次）":"time"})
df_conv.head()

,表章項目 コード,表章項目,世帯区分 コード,世帯区分,地域区分 コード,地域区分,時間軸（月次） コード,time,/品目分類（2020年改定）,rice,...,castella,cake,jelly,pudding,senbei,biscuit,snack,candy,chocolate,icecream
0,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000101,2010年1月,NaN,1815,...,82,610,56,125,449,229,320,205,456,362
1,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000202,2010年2月,NaN,1980,...,63,545,69,123,411,239,317,191,1122,305
2,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000303,2010年3月,NaN,2248,...,86,657,98,138,509,396,364,214,409,383
3,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000404,2010年4月,NaN,2259,...,81,522,127,132,466,261,358,199,287,464
4,1,金額,3,二人以上の世帯（2000年～）,0,全国,2010000505,2010年5月,NaN,2282,...,90,551,182,139,446,271,360,195,233,752

In [5]:
df_conv = df_conv[["time"] +  list(labels["English"])]

In [6]:
df_conv["time"] = pd.to_datetime(df_conv["time"], format="%Y年%m月")

In [7]:
df_conv["year"] = df_conv.apply(lambda x: x["time"].year, axis=1)
df_conv["month"] = df_conv.apply(lambda x: x["time"].month, axis=1)

In [8]:
df = df_conv[["time", "year", "month"] +  list(labels["English"])]

In [9]:
df.to_csv("week08data.csv", index=False)

In [11]:
list(labels["English"])

['rice',
 'bread',
 'noodle',
 'fish_faw',
 'fish_salt',
 'fish_processed',
 'beef',
 'pork',
 'chiken',
 'ham',
 'sausage',
 'bacon',
 'milk',
 'dairy',
 'egg',
 'cabbage',
 'spinach',
 'chinese_cabbage',
 'green_onion',
 'broccoli',
 'bean_sprouts',
 'potato',
 'radish',
 'carrot',
 'onion',
 'bambooshot',
 'eggplant',
 'tomato',
 'green_pepper',
 'apple',
 'mikan',
 'orange',
 'pear',
 'yokan',
 'manju',
 'castella',
 'cake',
 'jelly',
 'pudding',
 'senbei',
 'biscuit',
 'snack',
 'candy',
 'chocolate',
 'icecream']